@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

body {
	font-family: Ariel, Verdana;
	color: #344152;
	margin: 0.625rem; 
	background: #000040;
}

header {
	font-family: "Felipa", cursive;
	background-color: #0A52D7;
	color: rgb(226, 14, 14);
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 0.1875rem solid #FFFF04; 
    border-radius: 0.9375rem;
}

p {
	font-family: "Source Serif 4", Arial, sans-serif;
	font-size: 1.5625rem; 
	color: #f1f3f1;
    margin-bottom: 1em; 
	text-align: center;
}

hr {
    border: 0.0625rem dashed blanchedalmond; 
}

th {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 0.125rem solid #000000;
    font-family: "Source Serif 4", Arial, sans-serif;
}

tr:nth-child(odd){
    background-color: rgb(225, 14, 14);
    color: rgb(255, 255, 255);
}

tr:nth-child(even){
    background-color: rgb(19, 144, 12);
    color: white;
}

td {
    border: 0.125rem solid #000000; 
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 0.3125rem solid #000000; 
    border-collapse: collapse;
    font-size: 1.5rem;
}

#budgetInfo {
    margin-bottom: 1rem;
}

fieldset {
    border: 0.125rem solid rgb(233, 227, 200); 
    border-radius: 0.9375rem;
}


nav {
    color: rgb(235, 234, 230);
    gap: 0.625rem; 
	display: flex; 
    align-items: center;
}

#pageData {
    justify-content: center;
    padding-bottom: 1rem;
}

form {
    color: white;
}

legend {
    font-style: italic;
}

[name="delete"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#account {
    font-size: 1.5625rem; 
    color: rgb(226, 14, 14);
}

#logout {
    display: inline;
    margin: 0;
}

#budgetChart {
    display: block; 
    box-sizing: border-box; 
    height: 17.8735rem; 
}

button {
    background-color: #28a745;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 0.1875rem solid #FFFF04; 
    border-radius: 0.625rem;
}

.addSubtract {
    padding: 0rem 0.25rem;
    width: 1.174375rem
    border: 0.09375rem solid #0B4D9F; 
    background-color: white;
    color: #000000;
}

footer {
	background-color: #0A52D7;
    color: white;
    text-align: center;
    padding: 1em;
	border: 0.1875rem solid #FFFF04; 
    border-radius: 0.9375rem;
}

div {
    text-align: center;
}

.leftDelete {
    padding-bottom: 2rem;
}

.rightDelete {
    padding-bottom: 2rem;
}

.deleting {
                 
    justify-content: space-around; 
    width: 100%;
}

.deletionRow {
    display: flex;
    justify-content: space-around;
}

.deletion {
    text-align: center;
    width: 25rem;
}

.transaction {
    min-height: 18rem;
}
