
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
	<link rel="stylesheet" href="/webstyle.css">
</head>

<body>
	<header>
		<h1>Delete Purchases</h1>
		<nav>
			
			<a href="/addTransaction">
				<button>Add Transaction</button>
			</a>
			<a href="/clear">
				<button>Clear All Transactions</button>
			</a>
			<a href="/">
				<button>Home</button>
			</a>
			<nav id="account">account: <%- username -%></nav>
        </nav>
	</header>
	<p>All current transactions:</p><hr> 
	<%- allTransactions -%>


	</p>
	<!-- giving myself credit -->
    <footer>
        <p>Made by Samuel Rowe</p>
    </footer>
</body>

</html>
